{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{ album.album_logo }}" class="img-responsive">
                <div class="caption">
                    <h3>{{ album.album_title }}<h5>{{ album.genre }}</h5></h3>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary">View All</button>
            <a href="#">Add New Song</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-8">
            <table class="table">
                <thead>
                    <th>Title</th>
                    <th>Audio File</th>
                    <th>Favorite</th>
                    <th>Action</th>
                </thead>
                <tbody>
                {% for song in album.song_set.all %}
                    <tr>
                        <td>{{ song.song_title }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
